<div class="not-selected-team">
    You haven't selected teams, please go to
    <a href="{{ path('ym_league.team_selection_form') }}">{{ 'team selection'|t }}</a>
    page to select team and start the championship. Good luck!
</div>