<div class="leagues-results">
    <table>
        <tr>
            <td colspan="8">Сводная таблица</td>
            <td colspan="3">Результаты матчей</td>
        </tr>
        <tr>
            <td>Команда</td>
            <td>Очки</td>
            <td>Сыграно матчей</td>
            <td>Игр в гостях</td>
            <td>Игр дома</td>
            <td>Побед</td>
            <td>Нечей</td>
            <td>Поражений</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for item in items.teams %}
        <tr>
            <td>{{ item.team }}</td>
            <td>{{ item.points }}</td>
            <td>{{ item.matches }}</td>
            <td>{{ item.on_a_visit }}</td>
            <td>{{ item.home }}</td>
            <td>{{ item.win }}</td>
            <td>{{ item.draw }}</td>
            <td>{{ item.lose }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="prediction">
    <table>
        <tr>
            <td colspan="2">Предсказания после {{ items.properties.week }}-ой недели</td>
        </tr>
        {% for item in items.teams %}
            <tr>
                <td>{{ item.team }}</td>
                <td>{{ item.chance }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="play-all-matches">
    <form method="post" action="" onsubmit="">
        <button name="play_all_matches" type="submit">Проиграть все матчи</button>
    </form>
</div>

<div class="next-week">
    <form method="post" action="" onsubmit="">
        <button name="next_week" type="submit">Следующая неделя</button>
    </form>
</div>

<div class="finish-championship">
    <a href="{{ path('ym_league.play_next_week') }}">{{ 'Play next week'|t }}</a>
</div>
<div class="finish-championship">
    <a href="{{ path('ym_league.league_of_champions_finish') }}">{{ 'Finish chamionship'|t }}</a>
</div>